html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-image: url(background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #719dc0;
  font-family: EB Garamond, serif;
  font-style: normal;
  font-weight: 300;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

main {
  position: relative;
  box-sizing: border-box;
  width: 48em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 4em;
  height: 30em;
  margin: 2em;
}

main:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;  
  background: white;
  z-index: -1;
  border-radius: 0.5em;
}

header {
  font-size: 36pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36pt;
  width: auto;
  margin: 0;
  text-transform: uppercase;
  color: #003627;
  font-weight: 500;
}

h2 {
  font-size: 26pt;
  color: #003627;
  font-weight: 400;
  margin: 0.5em;
  padding: 0.2em 0.5em;
  border: 2px solid #003627;
  border-radius: 1em;
}

.sigil {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0;
}

.sigil img {
  height: 90%;
  max-width: 75%;
  object-fit: contain;
}

nav {
  font-size: 26pt;
}

nav ul {
  list-style: none;
  font-size: 36pt;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  justify-content: center;
}

nav ul li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li + li:before {
  display: block;
  content: ' ';
  width: 0.5em;
  height: 2px;
  background: #003627;
}

nav a {
  font-size: 28pt;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  text-decoration: none;
  color: #003627;
  border: 2px solid #003627;
  border-radius: 1em;
}

nav a:hover {
  color: #3a5a2d;
  border: 2px solid #3a5a2d;
}

